.custom-table {
    margin: 0 auto;
    /* border-collapse: collapse; */
    /* border: 1px solid grey; */
    text-align: center;
    border-spacing: 7px;
    
}

th {
    position: sticky;
    top: 0;
    background: #F5F5F5;
}

.custom-row {
    /* border: 1px solid grey; */
}

.red-custom-column {
    /* border: 1px solid grey; */
    background: #FC5185;
    width: 50px;
    height: 30px;
    text-align: center;
}

.custom-column {
    /* border: 1px solid grey;
    padding: 0px 2px; */
}