.judge-header {
    position: relative;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;

    background: #00ADB5;
}

.menu-button {
    /*display: inline-flex;*/
    position: relative;
    display: inline-block;
    left: 20%;
    height: 100px;
    width: 400px;

    
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100px;
  
    align-items: center;
    text-align: center;

    color: #F5F5F5;
    cursor: pointer;
}

.exit-button {
    position: relative;
    display: inline-block;
    left: 30%;
    height: 70px;
    width: 200px;


    
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 70px;
  
    align-items: center;
    text-align: center;

    color: #F5F5F5;
    background: #FC5185;
    border-radius: 20px;
    cursor: pointer;
}