.header_player {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #BD4343;
}

.header_player .title {
    align-self: center;
    grid-column: 3/7;
    color: white;
    font-size: 36px;
    font-weight: bold;
}
.header_player .options {
    align-self: center;
    grid-column: 7/11;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.header_player .option {
    color: white;
    font-size: 20px;
    flex-grow: 1;
}

.header_player .option a {
    color: white;
}