.info-line {
    position: relative;
    width: 100%;
    height: 80px;
    top: 50px;
    /* background-color: blue; */
}

.info-name {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    position: relative;
    display: inline-block;
    left: 30%;
    width: 250px;
}

.info-value {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    position: relative;
    display: inline-block;
    left: 40%;
}