.judge-tournaments-list .wrapper {
    position: relative;
    width: 80%;
    height: 750px;
    left: 10%;
    top: 100px;

    background: #F5F5F5;
    border-radius: 40px;
}


.judge-tournaments-list .wrapper .title {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    top: 20px;

    color: #000000;
}


.judge-tournaments-list .wrapper .tournaments-list {
    position: relative;
    /* width: 80%; */
    height: 50%;
    overflow-y: scroll;
    color: #000000;
}

.create-tournament-form {
    position: relative;
    top: 10px;
}

.create-tournament-form .data-input {
    position: relative;
    /*top: 64px;*/
    left: 80px;
    width: 80%;
    /*height: 60px;*/
}

.create-tournament-form .download {
    position: relative;
    top: 50px;
    left: 30px;
    width: 100%;
    height: 60px;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    /*display: flex;*/
    align-items: center;
    text-align: center;
}

.download input {
    position: flex;
}

.create-tournament-form .data-input {
    position: relative;
    top: 0%;
}

.create-tournament-form .data-input label {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    width: 30%;
    position: relative;
    display: inline-block;
}

.create-tournament-form .data-input input {
    position: relative;

    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    width: 60%;
    height: 60%;
    margin: 0 auto;
    position: relative;
    /*top: 3px;*/
    left:30px;
}


.tournament-create-button {
    position: relative;
    width: 300px;
    height: 50px;
    left: 40%;
    top: 100px;

    background: #FC5185;
    border-radius: 20px;


    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #F5F5F5;
}