.wrapper .title {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    top: 20px;

    color: #000000;
}
.judge-game-back-button a:-webkit-any-link {
    color: #F5F5F5;
}

.judge-game-back-button {
    position: relative;
    width: 300px;
    height: 50px;
    /* left: 40%; */
    top: 180px;
    margin: auto;


    background: #FC5185;
    border-radius: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #F5F5F5;

}