.judge-tournament .wrapper {
    position: relative;
    width: 80%;
    height: 1150px;
    left: 10%;
    top: 100px;

    background: #F5F5F5;
    border-radius: 40px;
}


.judge-tournament .wrapper .title {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    top: 20px;

    color: #000000;
}

.load-games-form {
    position: relative;
    top: 100px;
}

.wrapper .create-tournament-form .data-input {
    position: relative;
    /*top: 64px;*/
    left: 80px;
    width: 80%;
    /*height: 60px;*/
}

.tournament-table {
    position: relative;
    top: 50px;
    width: 90%;
    left: 5%;
    height: 400px;
    /*background: url('../table.PNG') no-repeat;
    background-size: cover;*/
    overflow-y: scroll;
}

.wrapper .load-games-form .title {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    top: 20px;

    color: #000000;
}

.wrapper .load-games-form .download {
    position: relative;
    top: 64px;
    left: 30px;
    width: 100%;
    height: 60px;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    /*display: flex;*/
    align-items: center;
    text-align: center;
}

.download input {
    position: flex;
}

.wrapper .load-games-form .data-input label {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    width: 30%;
    position: relative;
    display: inline-block;
}

.wrapper .load-games-form .data-input input {
    position: relative;

    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    width: 60%;
    height: 60%;
    margin: 0 auto;
    position: relative;
    /*top: 3px;*/
    left:30px;
}


.tournament-create-button {
    position: relative;
    width: 300px;
    height: 50px;
    left: 520px;
    top: 100px;

    background: #FC5185;
    border-radius: 20px;


    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #F5F5F5;
}