.judge-game-line {
    position: relative;
    width: 100%;
    height: 80px;
    top: 50px;

}

.b-value {
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    position: relative;
    display: inline-block;
    left: 50px;
    width: 250px;
}

.stat-name {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    position: relative;
    display: inline-block;
    left: 20%;
    width: 250px;
    height: 100%;

}

.w-value {
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    position: relative;
    display: inline-block;
    left: 35%;
    width: 250px;
}