.main_page {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.main_page .title {
    grid-column: 3/5;
    margin: 20px;
    color: #630A10;
    font-size: 40px;
    font-weight: bold;
}

.main_page .left_tile {
    margin-right: 20px;
    grid-column: 3/8;
    background-color: #464646;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.main_page .description {
    width: 80%;
    margin-bottom: 20px;
    color: white;
    align-self: center;
    font-size: 18px;
}

.main_page .goimg {
    width: 80%;
    margin: 20px;
    border-radius: 20px;
    align-self: center;
}

.main_page .right_part {
    grid-column: 8/11;
    margin-left: 20px;
}