.match_card {
    width: 45%;
    float: left;
    height: 160px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.match_card:hover {
    background-color: #e7b9b9;
}

.match_card img {
    align-self: center;
    height: 90%;
    border-radius: 10px;
}

.match_card .info_tile {
    background-color: #C4C4C4;
    width: 100%;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
}

.match_card .info_tile .match_title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}
