.matches_page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.matches_page .title {
    grid-column: 3/7;
    margin: 20px;
    color: #630A10;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

.matches_page .search_item {
    grid-column: 8/12;
    align-self: center;
    display: flex;
    flex-direction: row;
}

.matches_page .tick{
    margin-right: 15px;
    align-self: center;
}


.matches_page .tick input{
    width: 20px;
    height: 20px;
}

.matches_page .tick-label {
    margin: 5px;
    align-self: center;
    font-size: 16px;
}

.matches_page .search_string {
    border-radius: 5px;
    padding: 3px;
    font-size: 15px;
}

.matches_page .button {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
}

.matches_page .button:hover {
    background-color: gray;
}

.matches_page .main_part {
    grid-column: 2/12;
    position: relative;
}

.matches_page .main_part .button {
    width: fit-content;
}