.regular_setting {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 5px;
}

.regular_setting .name {
    grid-column: 1/5;
    text-align: end;
    align-self: center;
    font-size: 24px;
    margin-right: 10px;
}

.regular_setting .field {
    grid-column: 5/12;
}

.regular_setting .field input[type="text"] {
    font-size: 24px;
    width: 80%;
}

.regular_setting .field input[type="password"] {
    font-size: 24px;
    width: 80%;
}

.file_setting {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 5px;
}

.file_setting .name {
    grid-column: 1/5;
    text-align: end;
    align-self: center;
    font-size: 24px;
    margin-right: 10px;
}

.file_setting .second_part {
    grid-column: 5/12;
    align-self: center;
    text-align: center;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.file_setting .button {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
}

.file_setting .button:hover {
    background-color: gray;
}

.file_setting .clarification {
    order: 2;
    font-size: 13px;
}