.reg-player-wrapper {
    position: relative;
    width: 50%;
    height: 560px;
    left: 25%;
    top: 200px;

    background: #F5F5F5;
    border-radius: 40px;
    

}

.reg-player-wrapper .title {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    top: 20px;

    color: #000000;
}

.reg-form {

}

.reg-data-input {
    position: relative;
    top: 64px;
    left: 60px;
    width: 80%;
    height: 50px;
}

.reg-data-input label {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    width: 30%;
    position: relative;
    display: inline-block;
}

.reg-data-input input {
    position: relative;

    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    width: 60%;
    height: 60%;
    margin: 0 auto;
    position: relative;
    /*top: 3px;*/
    left:30px;
}

.back-button {
    position: relative;
    width: 300px;
    height: 50px;
    left: 40px;
    top: 80px;



    background: #FC5185;
    border-radius: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #F5F5F5;

}


.reg-button {
    position: relative;
    width: 300px;
    height: 50px;
    left: 440px;
    top: 30px;

    background: #FC5185;
    border-radius: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #F5F5F5;
}