.player_profile {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.player_profile .settings_container {
    margin: 10px;
    grid-column: 2/9;
    display: flex;
    flex-direction: column;
}

.player_profile .save_button {
    width: 30%;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    align-self: center;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}

.player_profile .save_button:hover {
    background-color: gray;
}

.photo_setting {
    margin-top: 30px;
    grid-column: 9/12;
    display: flex;
    flex-direction: column;
}

.photo_setting .photo {
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
}

.photo_setting .change_button {
    width: 40%;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    align-self: center;
    text-align: center;
    font-size: 22px;
}

.photo_setting .change_button:hover {
    background-color: gray;
}