.profile-line {
    position: relative;
    width: 100%;
    height: 80px;
    top: 50px;
}

.profile-name {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    position: relative;
    display: inline-block;
    left: 10%;
    width: 180px;
}

.profile-value {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    position: relative;
    display: inline-block;
    left: 50%;
}