.sgf {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.sgf .besogo-editor {
    grid-column: 1/8;
    height: 650px;
    width: auto;
}

.sgf .left-part {
    grid-column: 8/13;
    display: flex;
    flex-direction: column;
}

.sgf .button {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    align-self: start;
    text-align: center;
    font-size: 18px;
}

.sgf .button:hover {
    background-color: gray;
}

.sgf .tag {
    background-color: white;
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    text-align: center;
    font-size: 15px;
    max-width: 300px;
}

.sgf .tag:hover {
    background-color: pink;
}

.sgf .mini-title {
    font-size: 30px;
}

.sgf .current-tags {
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.sgf .tags-container .mini-title {
    font-size: 20px;
}

.sgf .add-tags {
    display: flex;
    flex-direction: row;
}

.sgf .game-stage .tag{
    color: blue;
    border-color: blue;
}

.sgf .strategy .tag{
    color: red;
    border-color: red;
}

.sgf .tactics .tag{
    color: green;
    border-color: green;
}

.sgf .game-stage .tag:hover{
    background-color: lightblue;
}

.sgf .strategy .tag:hover{
    background-color: pink;
}

.sgf .tactics .tag:hover{
    background-color: lightgreen;
}

.sgf .arrows {
    display: flex;
    flex-direction: row;
}

.sgf .errors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sgf .error {
    padding: 5px;
    margin: 3px;
    border: 1px solid black;
}

.sgf .blunder {
    background-color: red;
}

.sgf .mistake {
    background-color: orange;
}

.sgf .error:hover {
    background-color: gray;
}
