.sign_tile {
    border-radius: 20px;
    background-color: #DBE7F4;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.sign_tile .title {
    align-self: center;
    margin: 10px;
    font-size: 28px;
    color: black;
}

.sign_tile .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
}

.sign_tile .line {
    height: 0;
    padding: 0;
    border: none;
    border-top: 1px solid black;
}

.sign_tile .link {
    text-align: center;
    font-size: 20px;
}

.sign_tile .link a {
    color: black;
}

.player .sign_tile {
    background-color: #FCDEDE;
}

.judge .sign_tile {
    background-color: #DBE7F4;
}