.stats-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.stats-page .title {
    grid-column: 3/7;
    margin: 20px;
    color: #630A10;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

.stats-page .table {
    grid-column: 4/10;
}

.stats-page .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}

.stats-page .tag {
    background-color: white;
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    font-size: 20px;
    max-width: 300px;
}

.stats-page .number {
    font-size: 25px;
    margin-left: 15px;
}



