.tournament-line {
    width: 100%;
    height: 80px;
    top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    position: relative;
    display: inline-block;
    cursor: pointer;
    /*width: 180px;*/
}

.link {
    text-decoration: none;
  }